<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsb.crm.mapper.ContactMapper">
    <select id="selectPage" resultType="com.mycrm.crm.entity.ContactVo">
    SELECT co.*,c.cname,o.oname from contact co join client c on c.cid=co.cid join operator o on o.oid=co.operid  ${ew.customSqlSegment}
    </select>
    <select id="selectById" resultType="com.mycrm.crm.entity.ContactVo">
    SELECT co.*,c.cname,o.oname from contact co join client c on c.cid=co.cid join operator o on o.oid=co.operid ${ew.customSqlSegment}
    </select>
</mapper>
