<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycrm.crm.mapper.PetitionMapper">
    <select id="num" resultType="integer">
        SELECT COUNT(peid) FROM petition
    </select>
    <select id="total" resultType="integer">
        SELECT COUNT(peid) FROM petition where outcome !=""
    </select>
    <select id="totalNull" resultType="integer">
        SELECT COUNT(peid) FROM petition where ISNULL(outcome)
    </select>
    <select id="listPetition" resultType="com.mycrm.crm.entity.PetitionVo">
        SELECT p.*,o1.oname,o2.oname as exname FROM petition p JOIN operator o1 ON p.executor=o1.oid JOIN  operator o2 ON p.operid=o2.oid where p.outcome !="" ORDER BY createtime DESC
    </select>
    <select id="listPetitionNull" resultType="com.mycrm.crm.entity.PetitionVo">
        SELECT p.*,o1.oname,o2.oname as exname FROM petition p JOIN operator o1 ON p.executor=o1.oid JOIN  operator o2 ON p.operid=o2.oid where  ISNULL(p.outcome) ORDER BY createtime DESC
    </select>
</mapper>
